* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    height: 100vh;
}

#main-navbar {
    width: 100%;
    background-color: darkcyan;
    height: 80px;
    display: flex;
}

button {
    border: none;
}

i {
    cursor: pointer;
}

header {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    width: 100%;
    height: 500px;
}

.logo {
    margin: 40px 0 0 15px;
    font-size: 28px;
    width: 25%;
    color: white;
}

#navbar-list-div {
    width: 50%;
}

#navbar-ul {
    margin-left: 100px;
    display: flex;
}

#navbar-list {
    list-style: none;
    margin-top: 50px;
    margin-right: 40px;
    font-size: 22px;
    cursor: pointer;
}

#navbar-search input {
    margin-top: 45px;
    font-size: 19px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
}

#hide-navbar {
    width: 100%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    height: 60px;
    display: none;
}

#hide-navbar-ul {
    justify-content: space-evenly;
    display: flex;
    height: 65px;

}

#hide-navbar-list {
    padding-top: 8px;
    margin: 10px;
    list-style: none;
    color: rgb(231, 72, 44);
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}

#slider-container {
    display: flex;
    justify-content: center;

}

#slider-second-container {
    position: relative;

}

#slide {
    display: none;


}

.slide-image {
    width: 900px;
    height: 450px;
}

#prevSlide,
#nextSlide {
    cursor: pointer;
    position: absolute;
    /*içinde bulunduğu parent realative etiketin içine göre ayarlamayı sağlar.*/
    top: 0;
    color: white;
    padding-top: 21%;

    font-weight: bold;
    font-size: 20px;
    transition: 0.5s ease;
    height: 95%;
    background-color: rgba(255, 255, 255, 0);

}

#prevSlide {
    left: 0px;
    border-radius: 0 15px 15px 0;
    padding-left: 10px;
    padding-right: 15px;

}

#nextSlide {
    right: 0px;
    border-radius: 15px 0 0 15px;
    padding-left: 15px;
    padding-right: 10px;
}

#dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.dot {

    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background-color: lightpink;
    display: inline-block;
    margin: 5px;
}

.dot:hover,
.active {
    background-color: navy !important;
    width: 50px !important;
    height: 50px !important;
}

.card-main-container {
    display: flex;
    justify-content: space-evenly;

}

.card-container {
    padding-top: 50px;
    position: relative;
    width: 15%;
    height: 90%;
    cursor: pointer;
    
}
.card-container div{
    transition: 0.7s;
}
.card-container div:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.2);
  }

.card-image {
    display: block;
    width: 100%;
    height: 300px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.card-container:hover .overlay {
    opacity: 1;
}

.last-projects {
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 80px;
    font-size: 25px;
    font-weight: bolder;

}

.last-projects-container {
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    padding-bottom: 200px;
}
.popup{
    height: 150vh;
    display: none;
    
}

.popup-container{
    width: 100%;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    justify-content: center;
    display: flex;
    
}

.popup-content{
    width: 700px;
    height: 500px;
    background-color: rgb(212, 159, 159);
    box-shadow: 1px 1px 3px 1px white;
    text-align: center;
    position: absolute;
    /* margin-top: 200px; */
    top: 45%;
    align-items: center;
    justify-content: center;
    
    
}

.popup-close{
    background-color: rgb(212, 159, 159);
    position: absolute;
    top: 0%;
    right: 0;
    font-size: 40px;
    margin: 15px;
}

.popup-head, .popup-body{
    margin-top: 30px;
    color: white;
}
.popup-image-main{
    display: flex;
}
.popup-image{
    text-align: center;
    justify-content: center;
    height: 300px;
    width: 600px;
    margin: 10px 50px 0 50px;
    

}